$gutter:30px;
$grid-sm: 767;
$mobile: 767px;
$grids: 12;
// $base-color:#e61e40;
$base-color:#652c90;

// $brand-color:#0c7058;
$brand-color:#008a48;
$off-white:#f6eaff;
$white:#ffffff;
$gray:#D8D8D8;
$gray-dark:#959595;
$red:#e61e40;
$black:#212121;
$text-color:#4f4b4b;
$img-path: "../images" !default;
$shape:'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjYwIiBoZWlnaHQ9IjU2MiIgdmlld0JveD0iMCAwIDY2MCA1NjIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF8zOjIpIj4KPHBhdGggZD0iTTEzLjkgOTYuOEMtNC42MDAwMSAxMjguOSAtNC42MDAwMSAxNjguNCAxMy45IDIwMC41TDE5Mi4yIDUwOS4zQzIxMC43IDU0MS40IDI0NSA1NjEuMiAyODIgNTYxLjJINjYwVjBINjkuOEwxMy45IDk2LjhaIiBmaWxsPSIjMDA2ODM3Ii8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfMzoyIj4KPHJlY3Qgd2lkdGg9IjY2MCIgaGVpZ2h0PSI1NjEuMiIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K';
